@use "sass:math";

:root{
	--player-color: #000000;
    --card-width: 6vw;
	--image-source-fugu-cards: url(img/fugu_cards.webp);
}

@mixin text-shade($color, $size) { text-shadow: #{$size} 0 $color, -#{$size} 0 $color, 0 #{$size} $color, 0 -#{$size} $color, #{($size / 2)} #{($size / 2)} $color, -#{($size / 2)} -#{($size / 2)} $color, #{($size / 2)} -#{($size / 2)} $color, -#{($size / 2)} #{($size / 2)} $color; }
@mixin non-selectable() { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.a-card{ overflow: hidden;  background-color: #fff8e9; --my-card-width: var(--card-width); width: var(--my-card-width); height: calc(var(--my-card-width) * 2); box-shadow: 2px 2px 4px #000000; border-radius: calc(var(--my-card-width) * 0.1);
	&:before{ display: block; background-image: var(--image-source-fugu-cards); background-color: #fff8e9; width: 104%; height: 102%; margin-left: -1%; margin-top: -2%; }
	&.selection-confirmed { animation: selection-confirmed-card-animation 0.2s ease-out forwards; position: relative; z-index: 1; 
		&[suit="1"]{ --highlight-color: #fddd5bb8; }
		&[suit="2"]{ --highlight-color: #a7d8f0; }
		&[suit="3"]{ --highlight-color: #72ff8cdb; }
	}
}

.a-card{
	&:before{ content: ""; background-size: 1000% 800%; }
	&[data-state_in_hand="facedown"]:before{ background-position-x: -600%; background-position-y: -700%; } // facedown card
    &[data-state_in_hand="anchor"]{ transform: rotate(-180deg); box-shadow: -2px -2px 4px #000000; } //anchor cards

    @for $i from 0 through 75 {
        $index: $i - 1;
        $col: $index % 10;
        $row: math.floor(math.div($index, 10));

		&[data-rank="#{$i}"]::before{ background-position-x: #{$col * -100}#{'%'}; background-position-y: #{$row * -100}#{'%'}; }
    }

	&.a-card-clone{ position: absolute; }
}

#center-container{ text-align: center; border: 2px solid #000000; min-height: calc(var(--card-width) * 2.5);
	.a-card{ display: inline-block;
		&:not(:last-child){ margin-top: calc(var(--card-width) * 0.2); margin-right: calc(var(--card-width) * 1.2); }
	}
}

.my-hand-container{ position: relative; width: 100%; text-align: center; border: 1px solid var(--hand-owner-color); border-radius: 10px; margin-top: 18px; padding: 30px 0px 10px 0px; min-height: calc(var(--card-width) * 2); --selected-card-margin-top: -30px;
	.my-hand-title{ position: absolute; top: 0px; left: 27px; transform: translateY(-50%); font-family: "Roboto", sans-serif; border-radius: 6px; color: var(--hand-owner-color); font-size: 20px; @include text-shade(#f0f0f0, 2px); @include non-selectable(); }

	.cards-container .a-card{ 
		position: relative; display: inline-block; vertical-align: top; --horz-margin: calc(var(--my-card-width) * -0.13); margin-left: var(--horz-margin); margin-right: var(--horz-margin); transition: margin-top 0.3s ease; 
		&[selected="true"]{ margin-top: var(--selected-card-margin-top); }
	}
}